bin/
include/
lib/
local/
src/__pycache__/
__init__.py
src/database/
__pycache__/
src/database/*.db
pyvenv.cfg
venv/
lib64
*.pyc
*.pyo
*.pyd
__pycache__/
node_modules/
package-lock.json
package.json
db_OLD.py
.venv/
.idea/
.vscode/