{% extends "base.html" %}

{% block title %}
Introdution
{% endblock %}

{% block body %}
<h1><b>Introdution</b></h1>
<h2>What is 'Web Shell Terminal'?</h2>
<p>
  WST is a powerful solution for managing access to your SSH server. You can
  deploy it locally to connect to a server from a host device, or deploy WST
  directly on the server to control file system access for user groups. When
  hosted on the server side, WST also provides a unified and simple web
  interface that can be used from any device on any operating system.
</p>
{% endblock %}
