@media (min-width: 1001px) {
  body {
    font-size: 1.1rem;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  body {
    font-size: 1rem;
  }
  input,
  button {
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  input {
    font-size: 1.1rem !important;
    padding: 0.8rem !important;
  }
  .admin-list-elem p {
    font-size: 1rem;
  }

  .admin-list-elem button {
    font-size: 2.2rem;
    padding: 0.5rem;
  }

  #menu {
    min-width: 80%;
  }

  #menu a {
    font-size: 1.2rem;
    padding: 15px 0;
  }
  .flex-wrapper {
    flex-direction: column;
  }
}
