@import "fonts.css";
@import "adapt.css";
@import "variables.css";

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
i,
a,
span,
label,
input,
textarea,
button {
  color: var(--text-color);
  font-family: "Montserrat-Regular", sans-serif;
}

svg {
  color: var(--text-color);
}

#terminal * {
  background-color: var(--terminal-bg-color);
  /* background: var(--terminal-bg-color); */
  color: var(--terminal-text);
  font-family: "Monospace", sans-serif;
}

.xterm-scrollable-element {
  background-color: var(--terminal-bg-color);
}

body {
  width: 100%;
  margin: 0;

  background-color: var(--bg-color);
  font-weight: 500;
}

#content {
  padding: 0px 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 1rem 0px 1rem;
  background-color: var(--navbar-bg-color);
}

#menuBtn {
  height: 35px;
  cursor: pointer;
}

#menu {
  position: absolute;
  padding: 1rem 1.3rem;
  background-color: var(--bg-color);
  border: 0.1rem solid var(--text-color);
  z-index: 10;
}
#menu > a {
  display: block;
  width: fit-content;
  padding: 10px 0 10px 0;
}

.flex-wrapper {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .flex-wrapper {
    flex-direction: column;
  }
}

/* Modals */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  border: 0.1rem solid color-mix(in srgb, var(--text-color), var(--bg-color) 50%);
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 1rem;
  min-width: 400px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--text-color);
  opacity: 0.7;
  padding: 0;
  margin-left: auto;
  transition: all 200ms;
  transform: scale(1.5);
}

.modal-close:hover {
  opacity: 1;
}

.modal-search {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.groups-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
}

.group-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: background 0.2s;
}

.group-label:hover {
  background-color: color-mix(in srgb, var(--text-color), var(--bg-color) 80%);
}

/* errbox */
.errbox {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 0.2rem solid color-mix(in srgb, var(--danger-color), black 1%);
  background-color: color-mix(in srgb, var(--danger-color), white 96%);
  width: 500px;
  max-width: 100vw;

  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.errbox * {
  color: var(--danger-color);
}

/* Terms list */
.term-list-elem {
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  background-color: transparent;
  font-weight: 500;
  transition: all 200ms;
}
.term-list-elem:hover {
  background-color: color-mix(in srgb, var(--text-color), var(--bg-color) 80%);
}

.term-list-elem:hover > span {
  font-weight: 900;
}

/* Forms */
form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5rem;
}

button {
  border: 0.1rem solid var(--text-color);
  background-color: color-mix(in srgb, var(--bg-color), var(--text-color) 10%);
  color: var(--text-color);
}

input,
textarea {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  font-size: large;
  border: 0.1rem solid var(--text-color);
  border-radius: 0.3rem;
  background-color: color-mix(in srgb, var(--bg-color), var(--text-color) 10%);
  color: var(--text-color);
}

input:focus,
textarea:focus {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.2rem solid var(--font-color);
}

textarea {
  min-height: 10rem;
  resize: none;
}

form > button {
  padding: 0.5rem 1rem;
}

/* Admin panel lists */
.admin-list,
.auth-form {
  min-width: 300px;
  width: 21%;
}

.admin-list-title {
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-list form {
  width: 100%;
}

.admin-list-insert-btn {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.admin-list-elem {
  padding: 0px 0px 0px 1rem;
  /* border: 0.1rem solid black; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 100ms ease-out;
}

.admin-list-elem:hover {
  background-color: color-mix(in srgb, var(--text-color), var(--bg-color) 80%);
  font-weight: 900;
  border-radius: 0.4rem;
}

.admin-list-elem > button {
  font-size: 2rem;
  cursor: pointer;
}

.delete-btn {
  background-color: #00000000;
  border-color: #00000000;
  margin-right: rem;
  border-radius: 0.4rem;
  color: color-mix(in srgb, var(--danger-color), black 1%);
  font-weight: 900;
}
