@import "fonts.css";
@import "adapt.css";
@import "variables.css";

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
i,
span,
li {
  color: var(--text-color);
  font-family: "Montserrat-Regular", sans-serif;
}

body {
  width: 100%;
  margin: 0;

  background-color: var(--bg-color);
  font-weight: 500;
}

#content {
  padding: 0px 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited-color);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 1rem 0px 1rem;
  background-color: var(--navbar-bg-color);
}

#menuBtn {
  height: 35px;
  cursor: pointer;
}

#menu {
  position: absolute;
  padding: 1rem 1.3rem;
  background-color: var(--bg-color);
  border: 0.2rem solid var(--border-color);
  z-index: 10;
}
#menu > a {
  display: block;
  width: fit-content;
  padding: 10px 0 10px 0;
}

.flex-wrapper {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .flex-wrapper {
    flex-direction: column;
  }
}

input:focus {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  font-size: large;
  border-radius: 0.3rem;
  border: 0.2rem solid var(--font-color);
}

/* Terms list */
.term-list-elem {
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  background-color: transparent;
  font-weight: 500;
  transition: all 200ms;
}
.term-list-elem:hover {
  background-color: #ebebeb;
}

.term-list-elem:hover > span {
  font-weight: 900;
}

/* Forms */
form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5rem;
}

input {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  font-size: large;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.3rem;
}

form > button {
  padding: 0.5rem 1rem;
}

/* Admin panel lists */
.admin-list,
.auth-form {
  min-width: 300px;
  width: 25%;
}

.admin-list-title {
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-list form {
  width: 100%;
}

.admin-list-insert-btn {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.admin-list-elem {
  padding: 0px 0px 0px 1rem;
  /* border: 0.1rem solid black; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 100ms ease-out;
}

.admin-list-elem:hover {
  background-color: color-mix(in srgb, var(--text-color), rgba(133, 133, 133, 0.646) 90%);
  font-weight: 900;
  border-radius: 0.4rem;
}

.admin-list-elem > button {
  font-size: 2rem;
  cursor: pointer;
}

.delete-btn {
  background-color: #00000000;
  border-color: #00000000;
  margin-right: rem;
  border-radius: 0.4rem;
  color: red;
  font-weight: 900;
}
