@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: lighter;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}