html {
    --text-color: #ffffff;
    --bg-color: #2e2e2e;
    --navbar-bg-color: #535353;
    --link-color: #ff7676;
    --link-visited-color: #ffb0b0;
    --danger-color: #dd0d0d;
    --terminal-text: #ffffff;
    --terminal-bg-color: #232a35;
}