html {
    --text-color: #ffffff;
    --bg-color: #76737c;
    --border-color: #bbbbbb;
    --navbar-bg-color: #0a17a9;
    --link-color: #ffffff;
    --link-visited-color: #ffffff;
    --msg-box-color: #7e7e7e63;
    --success-color: #17ab3c;
    --warning-color: #ddbc02;
    --error-color: #be0202;
}